.single-list{
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}
.single-line-inside{
  display: flex;
align-items: center;
gap: 3px;
}

.icon{
  cursor: pointer;
}
svg{
  cursor: pointer;
}
