body{
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.box-container{
display: grid;
gap: 10px
;
justify-content: center;
padding: 20px;
}
.box{
  background-color: rgb(127, 116, 116);
  width: 90px;
  height: 90px;
  border-radius: 6px;
  border: 1px solid #cbd5e1;
}